*.log
*.out
*.aux
*.toc
*.bin
*.lof
*.ppm
*.csv
*.zip
*.png
*.bib
*.run.xml
*.xmf
*.h5
*.xmf
*.json
*.out
*.txt
*.xyz
*.nvvp

other/trash/
latest
main
!ISE/add_files/cheatsheet.pdf
testing/*
_minted-main
.DS_Store
